<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <%
					var image_src = '../resources/img/helmet.jpg';

					if(stats.img_src){
						var image_src = stats.img_src;
					}
				  %>
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form" action="/player_info/post" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <option selected>Select Player</option>
							 <!-- TODO: Populate our select with player options
							 			For each player, set a new option with a value matching the player's id,
							 			but will display the player's name-->
										<%
										if (player_list) {
											console.log(player_list);
										    var ops = '';
												player_list.forEach(function(item){
										  		 ops += '<option value="item.id">';
													 if(item.name){
												       ops += item.name + '</option>';
												     }
										  	 }); %>
										  	 <%- ops %>
										<% } %>
										<script>
											document.
										</script>

						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
							 		    You'll need to calculate here the player's average rushing, receiving, and passing yards.-->


							<th>Year</th>
							<td>	<%=stats.year%>	</td>
						</tr>
						<tr>
							<th>Major</th>
							<td>	<%=stats.major%> </td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td>	<%=games_played%>	</td>
						</tr>
						<tr>
							<td>Passing Yards: <%=stats.pass_yrd%></td>
							<td>Avg. Passing Yards: </td>
						</tr>
						<tr>
							<td>Rushing Yards: <%=stats.rush_yrd%>%></td>
							<td>Avg. Rushing Yards: </td>
						</tr>
						<tr>
							<td>Receiving Yards: <%=stats.rec_yard%></td>
							<td>Avg. Receiving Yards: </td>
						</tr>

					</table>
				</div>
			</div>
		</div>
	</div>

<% include ../partials/footer %>
